<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Job Appication</title>

</head>

<body bgcolor="#ffffe6">
  <header bgcolor="##db6b32">
    <table bgcolor="#BC9988" height="80px" width="100%">
      <th>
      <td width="5%"></td>
      </th>
      <th>

      <th>
      <td>
        <h1>Sayhorr Advertising Agent </h1>&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <th>
      <td width="70%" align="right">
        <a href="lifeHacks.html">Life-Hacks</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a href="mainp.html">Home</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a href="jobapp.html">Job</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="feedback.html">Feedback</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="reserves.html">Reserve</a> &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      </th>
      </h4>
    </table>
  </header>
  <main>
    <table>
      <th>

      <td width="5%"></td>
      </th>
      <th>
      <td>
        <h2> Feedback Form</h2>
        <form>

          <lable for="Fname">Name<sup>*</sup>&nbsp;</lable>
          <input type="text" placeholder="Name" required><br>
          <lable for="email">Email<sup>*</sup>&nbsp;</lable>
          <input type="email" placeholder="Email" required><br><br>
          <p>Please check all emotions that applies to you</p>
          <ul>
            <li> <input type="checkbox" id="angry" name="emm">
              <label for="angry"> Angry</label><br>
            </li>
            <li><input type="checkbox" id="sad" name="emm">
              <label for="sad"> Sad</label><br>
            </li>
            <li><input type="checkbox" id="happy" name="emm">
              <label for="happy">Happy</label><br>
            </li>
            <li><input type="checkbox" id="ambi" name="emm">
              <label for="ambi">Ambivalent</label>
            </li><br><br>

          </ul>
          <p>How satisfied are you with our services</p>

          <li><label for="vs">Very Satisfied </label>
            <input type="radio" id="vs" name="vs">
          </li>
          <li> <label for="s">Satisfied </label>
            <input type="radio" id="vs" name="vs">
          </li>

          <li><label for="dc">Don't care </label>
            <input type="radio" id="vs" name="vs">
          </li>

          <li> <label for="ds">Dissatisfied </label>
            <input type="radio" id="vs" name="vs">
          </li>

          <li><label for="dvs">Very Dissatisfied </label>
            <input type="radio" id="vs" name="vs">
          </li>
          <button>Submit</button>
        </form>
      </td>
      </th>
    </table>

  </main>
</body>

</html>