<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="" & "">
    <title>iframe</title>
</head>

<body>
    <table width="100%">
        <tr>
            <td width="10%"></td>
            <td><img src="../../../resources/images/logo_gold.png" alt="LOGO" height="70"></td>
            <td align="right"><span>
                    <p><b> <a href="mainp.html">Pizza</a> |
                            <a href="lifeHacks.html">Life-Hacks</a>|
                            <a href="iframe.html">iframe</a>|
                            <a href="textformating.html">Text-formating</a>|
                            <a href="signin.html">signin</a>|
                            <a href="register.html">Register</a>
                        </b></p>
                </span>
            </td>
            <td width="10%"></td>
        </tr>

    </table>
    <hr>

    <table>
        <p align="right"> <a href="#"> Go to bottom </a></p>
        <th>
        <td width="10%"></td>
        </th>
        <th>
        <td width="50%" valign="Top">
            <iframe src="register.html" width="500px" height="500px"></iframe>
        </td>
        </th>
        <th>
        <td width="30%">
            <h2> Recent Posts </h2>
            <ul>
                <li>
                    <h3>Articles</h3>
                    <ul>
                        <li>
                            The Importance of Goals, Especially During Difficult Times
                        </li>
                        <li>
                            5 Steps to Discovering Your Life Purpose In 2022!
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Ideas</h3>
                    <ul>
                        <li>
                            10 Books to Read in The Fall
                        </li>
                        <li>
                            Top Web Development Projects Ideas
                        </li>
                    </ul>
                </li>
            </ul>
            <p>
            <h2>Most Viewed Articls</h2>
            </p>
            <ol>
                <li>Instant Gratification Is Stopping You From Reaching Your Goals! li> </li>
                <li> Stop Juggling Between Work And Life </li>
            </ol>
            <h2>
                IP Project Winners
            </h2>
            <p> ---------------------------------</p>
            <p> Rank &emsp; Award</p>
            <p> ---------------------------------</p>
            <p> First &emsp; Free hosting and support</p>
            <p> Second &emsp; 5GB Mobile Data </p>
            <p> Third &emsp; 1GB Mobile Data </p>
        </td>
        </th>
        <th>
        <td width="10%"></td>
        </th>
    </table>
    <hr>
    <table>
        <th>
        <td width="10%">
        </td>
        </th>
        <th>
        <td width="40%" align="left">
            <p> Follow us on : <a href="#">Facebook</a> |<a href="#"> Twitter</a></p>
        </td>
        </th>
        <th>
        <td width="40%">
            <p> <a href="#">Privacy</a> | <a href="#">Term of use</a></p>
        </td>
        </th>
        <th>
        <td width="10%">
        </td>
        </th>
        <tr>
            <th>
            <td width="10%">
            </td>
            </th>
            <th>
            <td align="center" width="75%">
                <p align="center">Copyright © AASTU SEng 2021, All Rights Reserved</p>
            </td>
            </th>
            <th>
            <td width="10%">
            </td>
            </th>
    </table>

</body>

</html>