<!DOCTYPE html>
<html>
<head>
<meta name=" description"
content="About life-hack and some tips">
<meta name=" key words"
content="Life, Jack Ma,Eric Hoffer, Self Education">
<meta name=" author"
content="Firdews Abrar">

<title> life hack index</title>
<script>
	function myFunction() {
function swap(image,video) {
    alert("class");
    var x1 = image.parentNode,
        x2 = video.parentNode,
        i1,
        i2;

    if (!x1|| !x2 || x1.isEqualNode(video) || x2.isEqualNode(image)) return;

    for (var i = 0; i < x1.children.length; i++) {
        if (x1.children[i].isEqualNode(image)) {
            i1 = i;
        }
    }
    for (var i = 0; i < x2.children.length; i++) {
        if (x2.children[i].isEqualNode(video)) {
            i2 = i;
        }
    }

    if (x1.isEqualNode(x2) && i1 < i2) {
        i2++;
    }
    x1.insertBefore(video, x1.children[i1]);
    x2.insertBefore(image, x2.children[i2]);
}

var aNode = document.querySelector(".image");
var bNode = document.querySelector(".video");

}

function removeDOM(){
	var removeEL0=document.getElementById("audio");
   removeEL0.remove();

}

function insert(){
var par=document.createElement("li");
var childs=document.createTextNode("The latest new version of books ");
var par1=document.getElementById("ul");
par1.appendChild(childs);


}

</script>
</head>

<body >
  <div id="pag" >
    <table  width="100%">
        <tr >
        <td width="10%"> </td>
        <td width="45%" ><img width="65px" height="90px" src="image/logo_gold.png">

        
        <td align="right">
           <p><b> <a href="#Podcast ">Podcast</a> | <a href="# ">Articles</a> | 
               <a href="# ">Ideas</a> | <a href="regist.html ">registration</a> | <a href="frame.html">Iframe</a>|
               <a href="signup.html ">signin</a>|<a href="mainp.html ">Sayhorr</a></b></p>
        
        <td width="10%"> </td>
        
        </tr>
        
        
        </table >

<hr/>

<table  width="100" align="center" id="page">
    <tr>
    <td colspan="3" width="10%"></td>
    <td align="right"> <a href="Source"><b>Go to bottom</b></a>
    </td>
    <td width="100%">
    </td>
    </tr>
    <tr>
    <td width="100%">
    </td>
    <td width="10%">
 
<p><h1> Eric Hoffer and the power of self-education</h1></P>
    <img  class="image"  width="800px" src="image/life1.jpg" alt="a person sitting " usemap="#image-map">
         <map name="image-map">
               <area shape="circle"  alt="person "       href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fexcited-traveler-tourist-man-yellow-clothes-photo-camera-isolated-blue-background-male-passenger-traveling-abroad-image191572206&psig=AOvVaw1-UwDjiFQdBT8XA-NtKHWP&ust=1639321231725000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCMivmdGB3PQCFQAAAAAdAAAAABAD" coords="591,115,60" >
               <area shape="polygon" alt="bag for trip"  href="https://www.google.com/search?q=travelers+bag+photo&tbm=isch&source=iu&ictx=1&fir=u-3BMS8PfBEowM%252CRQ1u-1N0V9MuUM%252C_%253BVz6wfXoY_JZgzM%252Cj4Fzmkh3xB5xcM%252C_%253B87KlA5j9mnFVPM%252Cgg-vGJa9wMZ6bM%252C_%253BU2vyvd7Qn73huM%252Cj4Fzmkh3xB5xcM%252C_%253BXvQC8kz2MXQghM%252CmWbIoU-xNH4rCM%252C_%253BbA6ulnvGjo020M%252C6yqk1aWNsnVZBM%252C_%253BjTxDQLT13xSknM%252CuRS70UvZs037UM%252C_%253BeKeHYbagkVDZNM%252C8emaT2mKtTS2GM%252C_%253BHt9Gnac3oV9fKM%252CXJEKD7WWyJ4qlM%252C_%253BcwvMHRDNrVoDgM%252Cj4Fzmkh3xB5xcM%252C_%253BBCtuWsBKSrPhiM%252CLqt371Lqq2KhzM%252C_%253BGioMNJuaV27b6M%252C8emaT2mKtTS2GM%252C_&vet=1&usg=AI4_-kT7XdLihj3-OqivewNuLBoODyYqgg&sa=X&ved=2ahUKEwjv4fasgdz0AhUExhoKHeAtAcIQ9QF6BAgMEAE#imgrc=jTxDQLT13xSknM" coords="620,197,637,255,652,299,712,290,697,201,669,163" >
               <area shape="react"  alt="sunset "       href="https://www.google.com/search?q=sunset+photo&tbm=isch&source=iu&ictx=1&fir=tFH5xMsVNbiyOM%252CvqYfTG_xOG73dM%252C_%253B37utu-S5ojA1iM%252CDjScsTJm8j1T3M%252C_%253BPcdYYTHfVCQBXM%252CY0oPCFfazaP3OM%252C_%253BYuB4Ht_mrTZpLM%252C6QLQhQ8Mku6lZM%252C_%253BmcXDyjPwX143oM%252C1qYHtlL9Gw-Z4M%252C_%253B6RP9rCm2DwUzDM%252CDjScsTJm8j1T3M%252C_%253B3u8K4ZBP7u2rrM%252Cl7ZGtmREnA0oSM%252C_%253Bio7q3z9WIph8nM%252Ca4IrTeImokoBoM%252C_%253B5jE0acYRZcRwjM%252CtShLhZ2tOoVYhM%252C_%253BZoknbSoTS40heM%252CO0iFKXC7jrdBbM%252C_%253B2pnzMp4dwsB0dM%252CA87SUZPlc0IwOM%252C_%253BjIvQWG2VIcMRhM%252C3sxeZ4z4s7O-4M%252C_%253BQesj9_94ugMmZM%252C60SyCCOB6UCSjM%252C_%253BTSU__FhsIG0L2M%252CA8ifVQJdHlCBkM%252C_%253Br_2bWXGKtjHyHM%252CjPGbKrp6SmHmwM%252C_&vet=1&usg=AI4_-kS80A4tzwAqXoE0ZwLMaotAoBaCIA&sa=X&ved=2ahUKEwjm9sqTgdz0AhU4hv0HHcKbCfIQ9QF6BAgXEAE#imgrc=PcdYYTHfVCQBXM" coords="16,17,494,323" >

         </map>
      <button onClick="swap(aNode, bNode)">change</button>


         <p>
            I recently read The True Believer by Eric Hoffer. It's a book about how mass movements evolve. With a lot of historical examples, the book explains the patterns and common threads among them. It's an insightful book and reading it was a great learning experience for me.<br/>
           <br>
            <img src="C:\Users\Toshiba win 8\Desktop\lab2\resources" alt="The True " align="left">&emsp;&emsp;&ensp;
            What I’d like to share with you here is not the content of the book, though. Instead, I’d
            like to share with Beliver book&emsp;&emsp;&ensp;you about the author.<br>cover<br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;You see, I didn’t know about Eric Hoffer before. But I imagined he must be a famous
            professor from a &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;well-known university. I mean, what else could explain the depth of his
            insights? The True Believer is an &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;influential book. Here is how<b> <a href="wikepidea.com">Wikipedia </a></b>put it... <a href="readmore.html"><b>read more</b></a></p>
            


<hr/>


<h3>New producst</h3>
  <h2>Jack Ma - How I Overcame Failure</h2>
     <audio controls onplay="alert('audio played ')" onpause="alert('audio paused')" id="audio"><source src="audio/Jack Ma - How I Overcame Failure.mp3" type="audio/mpeg">audio</audio>
     <button onclick="removeDOM()" >Remove </button>

     <hr/>

<h3>Picek of The Week</h3>
  <h2>24 Hours A Day </h2>
      <video class="video" controls width="800px" size="100px"  src="audio/24_HOURS.mp4" type="Video\mp4">video</video>
      <button onClick="swap(aNode, bNode)">change</button>
<script>
 
var x= document.getElementsByTagName("Video")[0];

function myfunction(){

  alert("Video played");
}
x.addEventListener("play",myfunction);

var y= document.getElementsByTagName("Video")[0];

function myfunctions(){

  alert("Video paused");
}
y.addEventListener("pause",myfunctions);
</script>
<br>
<br>

    </td></th>
<th  >
    <td  width="800px" valign="top" >
      <h2>Recent Posts </h2>
        <ul>
            <li><h3>Articles</h3></li>
                <ul id="ul">
                    <li>The Importance of Goals, Especially During Difficult Times </li>
                    <li>5 Steps to Discovering Your Life Purpose In 2022!</li>
               </ul>
            <li><h3>Ideas</h3></li>
         <ul>
            <li>10 Books to Read in The Fall </li>
            <li>Top Web Development Projects Ideas</li>
         </ul>
       </ul>

      <h2>Most viewed Article </h2>
        <ol type="I" >
          <li> Instant Gratification Is Stopping You From Reaching Your Goals! li> </li>
          <li>Stop Juggling Between Work And Life</li>

        </ol>
      <h2>IP project winners</h2>
      <pre><b>
---------------------------------
Rank    Award 
---------------------------------
First   Free hosting and support 
Second  5GB Mobile Data 
Third   1GB Mobile Data 
---------------------------------- 
        </b>
        </pre>
        <button onclick="insert()">Add Element</button>


        <td width="10%"></td>
<tr>
<td width="10%"></td>
<td width="50%" colspan="5"><hr></td>
<td width="30%"></td>
<td width="10%"></td>

</tr>
<tr>
<td width="10%"></td>
<td width="50%"><p>Follow us on:<b><a href="JFacebook ">Facebook<a></a> | <a href="Twitter ">Twitter</a></b></p></td>
<td width="30%" colspan="2"align="right"><p><b><a href="Privacy">Privacy<a></a> | <a href="Termofuse">Terms of use</a></b></p></td>
<td width="10%"></td>

</tr>
<tr>
<td width="10%"></td>
<td width="70%" colspan="3" align="center">Copyright &copy;AASTU SEng 2021, All Rights Reserved</td>
<td width="30%"></td>
<td width="10%"></td>
</tr>

  </table>
</div>
</body>
</html>