<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Job application</title>

</head>
<body  bgcolor="#ffffe6">
  <header bgcolor="##db6b32">
    <table bgcolor="#BC9988" height="80px" width="100%">
      <th>
          <td width="5%"></td>
        </th>
       <th>
      
       <th><td >
        <h1>Sayhorr Advertising Agent </h1>&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   
        <th><td width="70%" align="right">
          <a href="lifeHacks.html">Life-Hacks</a>&nbsp; &nbsp; &nbsp; &nbsp;  
          <a href="mainp.html" >Home</a>&nbsp; &nbsp; &nbsp; &nbsp; 
          <a href="jobapp.html" >Job</a>   &nbsp; &nbsp; &nbsp; &nbsp; 
          <a href="feedback.html" >Feedback</a>   &nbsp; &nbsp; &nbsp; &nbsp; 
          <a href="reserves.html">Reserve</a> &nbsp; &nbsp; &nbsp; &nbsp;  
       </td></th>
       </h4> 
      </table> 
  </header>
<main>
<h1>Job application</h1>
<p>Finding a job isn’t easy, especially if you don’t have that much experience. But have no fear, we all have been there and most of us have survived. The application form is designed for those programmers and web designers which wil be submitted to a
  computer company who are advertising for computer programmers.</p>
  <table width="100%" align= "center">
    <th>
        <td width="2%" ></td></th>
<h2>Please fill the form to apply</h2>
<fieldset><legend> <h2>Personal information</h2></legend></h2>
  <label for="position">Position applied</label><br>
  <input type="text" id="position" name="position" autofocus required><br>
<label >First name</label><br>
<input type="text/name" required><br>
<label >Last name</label><br>
<input type="text/name" required><br>
<label >Nationality</label><br>
<input type="text/name" required><br>
<label for="bday" id="bday">Birthday</label><br>
<input type="date" min="1980-01-01" max="2014-12-31"><br>
<label>Address</label> <br>
  <textarea textarea rows = "5" cols = "50" name = "description" required>
   Enter Address...</textarea><br>
   <labelfor="tel" id="phone">Phone number: </label>&emsp;
   <input type="tel" required><br><br>
   <label for="email">Email:</label> &emsp;
<input type="email" id="email"
          pattern=".+@globex\.com" size="30" placeholder="firdews@example.com" required>
</fieldset>
<br><br>
<fieldset><legend> <h2>Educational history</h2></legend></h2>
  <label>history</label> <br>
    <textarea textarea rows = "5" cols = "50" name = "description" required maxlengt="200">
    write your educational history</textarea><br>
    <label>IS there Bachloar degree</label><br>
    <label for="yes">Yes</label>
    <input type="radio" value="Yes" name="y">
    <llabel for="No">No</label>
    <input type="radio" value="No" name="y"><br>

    <label for="myfile">If your answere is for the above question please send your Graduation Certefcate:</label>
    <input type="file" id="myfile" name="myfile"><br>
  </fieldset>
  <br>

  <fieldset><legend> <h2>Work Experiance</h2></legend></h2>
    <label>Do You have work experiance befor?</llabel><br>
    <lable for="yes">Yes</lable>
    <input type="radio" value="Yes" name="y">
    <label for="No">No</label>
    <input type="radio" value="No" name="y"><br>


    <label for="tentacles" >If yes, select duration experiance</label>
    <input type="number" id="tentacles" name="tentacles"
       min="0" max="10"  required ><br>
       <p>*Add information of recent employment</p>

       <label for="Fname" >Years of Work Experiance<sup>*</sup>&nbsp;</label> 
     <input type="number" min="0" max="10" required><br><br>
     
      <label for="Lname">Eamployer Name<sup>*</sup>&nbsp;</label> 
     <input type="text"  placeholder="Last Name" required><br><br>
     
     <label for="email">Employer Email<sup>*</sup>&nbsp;</label> 
     <input type="email"  placeholder="Email" required><br><br>
        <label for="text" required>Employment History<sup>*</sup></label>
      <textarea id= "text" name="text" rows="4" cols="30" placeholder="Address"></textarea><br><br>
      <label for="phone">Employer Telephone<sup>*</sup>&nbsp;</label> 
     <input type="tel"  placeholder="Telephone" required><br><br>
     <label for="text" required>EmployerAddress<sup>*</sup></label>
      <textarea id= "text" name="text" rows="4" cols="30" placeholder="Address"></textarea><br><br>
  <label>Personal Statement</label> <br>
   <textarea textarea rows = "5" cols = "50" name = "description" required maxlength="1400" placeholder="Maximum 400 words"></textarea>  <button type="reset" value="reset">Clear</button>
  </fieldset><br><br>
  <input type="submit" value="Submit">
  <input type="reset" value="Reset">


  <fieldset align ="center" width="100%">
<legend>Reference</legend>
<table align="center">
  <th><td>
  <fieldset>
  <legend><h2>Referee 1</h2></legend>
     <labelfor="Fname" >Referee Name<sup>*</sup>&nbsp;</label> 
   <input type="text"  placeholder="Referee Name" required><br><br>
   
    <label for="Lname">Relationship<sup>*</sup>&nbsp;</label> 
   <input type="text"  placeholder="Relationship" required><br><br>
   <label for="Lname">Occupation<sup>*</sup>&nbsp;</label> 
   <input type="text"  placeholder="Occupation" required><br><br>
   
   <label for="email">Referee Email<sup>*</sup>&nbsp;</label> 
   <input type="email"  placeholder="Email" required><br><br>
      
    <label for="phone">Referee Telephone<sup>*</sup>&nbsp;</label> 
   <input type="tel"  placeholder="Telephone" required><br><br>
   <label for="text" required>Referee Address<sup>*</sup></label>
    <textarea id= "text" name="text" rows="4" cols="30" placeholder="Address"></textarea><br><br>
    <br><br>
  </fieldset>
  </td></th>
  <th><td>
  <fieldset>
    <legend><h2>Referre 2</h2></legend>
    <label for="Fname" >Referee Name<sup>*</sup>&nbsp;</label> 
    <input type="text"  placeholder="Referee Name" required><br><br>
    
     <label for="Lname">Relationship<sup>*</sup>&nbsp;</label> 
    <input type="text"  placeholder="Relationship" required><br><br>
    <label for="Lname">Occupation<sup>*</sup>&nbsp;</label> 
    <input type="text"  placeholder="Occupation" required><br><br>
    
    <label for="email">Referee Email<sup>*</sup>&nbsp;</lable> 
    <input type="email"  placeholder="Email" required><br><br>
       
     <label for="phone">Referee Telephone<sup>*</sup>&nbsp;</label> 
    <input type="tel"  placeholder="Telephone" required><br><br>
    <labelfor="text" required>Referee Address<sup>*</sup></label>
     <textarea id= "text" name="text" rows="4" cols="30" placeholder="Address"></textarea><br><br>
    
    </td></th></fieldset>
  </table>
  
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  


  </fieldset>

    



</main>

</body>

</html
