<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sayhorr Advertising Agent</title>
</head>

<body bgcolor="#ffffe6">
  <header bgcolor="##db6b32">
    <table bgcolor="#BC9988" height="80px" width="100%">
      <th>
      <td width="5%"></td>
      </th>
      <th>

      <th>
      <td>
        <h1>Sayhorr Advertising Agent </h1>&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <th>
      <td width="70%" align="right">
        <a href="lifeHacks.html">Life-Hacks</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a href="mainp.html">Home</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a href="jobapp.html">Job</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="feedback.html">Feedback</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="reserves.html">Reserve</a> &nbsp; &nbsp; &nbsp; &nbsp;
      </td>
      </th>
      </h4>
    </table>
  </header>
  <main>
    <h1 align="center"><i>Sayhorr Advertising Agent</i></h1><br>
    <hr align="center" width="50%" size="20%" bgcolor="blue"><br><br>


    <table width="100%" align="center">
      <th>
      <td> &emsp;&emsp;&emsp;&emsp; <img src="../../../resources/images/pizza.jpg" usemap="#image-map" width="600px" height="300px"
          align="center" height="50%">

        <map name="image-map">
          <area target="" alt="PIZZA  PHOTO" title="Delivery system" href="reserves.html" coords="4,7,276,176"
            shape="rect">
        </map>
      </td>
      </th>
      <th>
      <td width="2%"></td>
      </th>
      <th>
      <td>
        <h2 align="center"><i>Satisfied pizza delivery system</i></h2>
        <p>&emsp;&emsp;&emsp;&emsp;&emsp;working with WooCommerce , a lightweight and simple Theme and Windows Software
          to create your online delivery system for your fast food, pizzeria, cafe or restaurant.

          You can add Extra Options Categories on each Product, Variation or to the whole product category (this will
          save you a lot of time , if you are using the same extra options for mulitple products in the same
          category).<br>
          &emsp;&emsp;&emsp;&emsp;
      </td>
      </th>
      </p>

    </table>

    <table width="100%" align="center">
      <th>
      <td width="2%"></td>
      </th>
      <th>
      <td>
        <p align="center">
        <h2><i>Delivery System</i></h2>
        </p>
        <p>Set Delivery Hours for each WeekDay ( customers will be unable to order other hours)
          With Automatic Order Printing Software for Windows & Mac for WooFood , you will able to automatic print your
          WooCommerce orders directly to your thermal or other printer</p><br>
        &emsp;&emsp;&emsp;&emsp;
      </td>
      </th>
      </p>


      <th>
      <td> &emsp;&emsp;&emsp;&emsp; <img src="../../../resources/images/deli.jpg" usemap="#image-map" width="600px" height="300px"
          align="center" height="50%">

        <map name="image-map">
          <area target="" alt="PIZZA  PHOTO" title="Delivery system" href="reserves.html" coords="4,7,276,176"
            shape="rect">
        </map>
      </td>
      </th>
    </table>
    <p align="center"><b>please rate our website<a href="feedback.html">give us feedback</a>,follow us on facaebook
        tweitter and instagram.</b></p>

    <hr>
    <hr>
    <br><br>
    <h2 align="center"><i>Freelance Ethiopia</i></h2>
    <p>We founded Receptix in 2017 with the goal of assisting the right candidates match with the right career
      opportunities regardless of which part of the world they are based in. Over the last couple of years, we have
      emerged as a preferred job search destination for millions of candidates and over thousands of employers across
      the globe.</p>
    <p>Hiring Freelancers in Ethiopia is quite affordable as compared to a full-time employee and you can save upto 50%
      in business cost by hiring Freelancers in Ethiopia </p>
    <br><br>
    <a href="jobapp.html"><button> Apply Freelance Job</button></a>
    <p>At this time Freelance Ethiopia needs 10 programmers jop seekers to hire them in the computer company.</p>
    <details>
      <summary><big>For today</big></summary>
      <table align="center">
        <th>
        <td>
          <fieldset width="100%">
            <legend><b>For Programmers</b></legend>
            <table align="center">
              <th>
              <td>
                <pre>
  Job Title: Mobile Application developer


  Job Type: Contractual
  
  Description: We are looking for developers assigned to designing, programming, and implementing mobile application development projects.
  
  Job Type: Contract 
  Experience: - 4+ years 
  Salary: - 20,000 -25,000 birr
  Qualification: - Degree or Masters in computer science or related field (required)
  
  Skills and Responsibility: - 
  
  • Previous Experience in Flutter and react native 
  • Has built and published apps to app stores (Google & Apple)
  • Experience in API integration
  • Experience with advanced AI applications like Bio-metrics, Data analysis is a big bonus.
  • Conceptualize, develop, and launch new features
  • Carefully evaluate the technical tradeoffs of every decision
  • Work with the design team to choose the best UI and infrastructure practices
  • Ensure a high-quality code base
  • Built apps in integration with GraphQL
  • Familiarity with SQL/NoSQL Databases and their declarative query languages
  • Build fun, new products that run smoothly and stably
  • Ability to debug and optimize applications performance
  • Solid understanding of the full mobile development life cycle.
  • Be responsible for code reviews and merges
  • Adaptable for any type of working position like front-end and back-end development
  • Must be flexible and Can work on flexible hours.
  • Proven ability to problem-solve
  • Experience in working under pressure 
  
  <a href = "jobapp.html" ><button> Apply</button></a>
</pre>
              </td>
              </th>
            </table>
          </fieldset>
        </td>
        </th>
      </table>
    </details>
    <br><br>
  </main>
  </main>

  <footer bgcolor="#db6b32">


    <table align="left" bgcolor="#BC9988">

      <th width="15%">
      <td>
        <pre>
<h2>Sayhorr Adverstising Agent
The one stands for it's partners</h2></p>
</pre>
      </td>
      <th width="25%">
      <td></td>
      </th>
      </th>
      <th width="5%">
      <td></td>
      </th>


      <th>
      <td width="10%">
        <h3>Give us Feedback</h3>
        <p>plese <a href="feedback.html">Click here</a> for giving feedback.
      </td>
      </th>
      <th width="5%">
      <td></td>
      </th>
    </table>
    <table bgcolor="#9C7561" width="100%" height="40px">
      <th width="5%">
      <td></td>
      </th>
      <th align="left">
      <td>
        <p>Copyright© <a href="mainp.html"> Sayhorr</a>, All Rights Reserved</p>
      </td>
      </th>
      <th width="15%">
      <td></td>
      </th>
    </table>
  </footer>
</body>

</html>