<!DOCTYPE html>
<html>

<head>
    <title>Internet Programing Lab 1</title>
</head>

<body>
    <h1>Addis Ababa Science and Technology University</h1>
    <p><b>Addis Ababa Science and Technology University</b>(Amharic:<u>Addis Ababa Science and Technology
            University</u>),
        or <abbr title="Addis Ababa Science and Technology University">A.A.S.T.U</abbr> is an Ethhiopian higher
        institute in Addis ababa, Ethiopia. The main campus located
        around kilinto area.</p>

    <p>Currently <del>Astu</del> <ins><i>AASTU</i></ins> has enrolled more than 8000 undergraduate(under regular
        continuing education program)
        and close to 700 postgraduate studentits nine applied science, technology engineering and <mark>ICT</mark>
        focused school <big>AASTU</big> is a university in the making and
        <em>much of its short-term plans aim at established academic infrastructure and facilities</em>,
        staff recurrenting and <strong>manppwer development</strong> So far, We managed to recruit 472 academic staff
        and 39 administrative staff.<sup>[1][2]</sup>
    </p>



</body>

</html>